<div style="display: flex; gap: 10px;">
    <div style="width: 50%; margin: auto;">
        <div class="container-user">
            @for (user of users$ | async; track user.id) {
        
            <div style="border: 2px solid red;" [routerLink]="['posts', user.id]">
                <label style="cursor: pointer"> {{ user.name }}</label>
            </div>
            }
        </div>
    </div>
    <div style="width: 50%; margin: auto;">
        <router-outlet></router-outlet>
    </div>
</div>
