/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(246, 252, 255); padding: 2%;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.col-12 {
    width: calc(calc(100% / 12) * 12);
}

.col-10 {
    width: calc(calc(100% / 12) * 10);
}

.col-9 {
    width: calc(calc(100% / 12) * 10);
}

.col-6 {
    width: calc(calc(100% / 12) * 6);
}

.col-4 {
    width: calc(calc(100% / 12) * 4);
}

.col-3 {
    width: calc(calc(100% / 12) * 3);
}

.col-2 {
    width: calc(calc(100% / 12) * 2);
}
