@import '../../../../../dist/scss/variables.scss';

ul {
    list-style-type: none;
    
    li {
        padding: .7rem 0.5rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: rgb(238, 249, 255);
        }
        
        .atividade-description {
            gap: 0.5rem;
            display: flex;
            align-items: center;

            label {
                color: $primary-color;
            }

        }

        .delete-icon {
            
            button {
                padding-top: 0.4rem;
                border: none;
                background-color: transparent;

                img {
                    cursor: pointer;
                    // background-color: rgb(255, 0, 0);
                }
            }
        }
    }

}

.line-risk {
    text-decoration: line-through;
}