<section>
    <ul>
        <li *ngFor="let atividade of listTodo; let i = index"
         (click)="clickCheck(atividade)"
         [ngClass]="{'background-item': atividade.check}" #itemAtividade id="item" draggable="true">
            <div class="atividade-description">
                <!-- <input type="checkbox" > -->
                <label for="atividade" [ngClass]="{'line-risk': atividade.check}" >{{atividade.description}}</label>
            </div>
            <div class="delete-icon">
                <button (click)="delete($event, atividade)">
                    <img src="../../../../../assets/icons/delete.svg" alt="delete icon">
                </button>
            </div> 
        </li>
    </ul>
</section>