<ng-template ngFor let-pokemon [ngForOf]="pokemons">
    <a [routerLink]="['details', pokemon.status.id]" class="pokemon" *ngIf="pokemon.status">
        <section class="pokemon__status">
            <h2>{{pokemon.name}}</h2>
        
            <ul *ngIf="pokemon">
                <li *ngFor="let pokemonType of pokemon.status.types">{{pokemonType.type.name}}</li>
            </ul>
        </section>
        <section class="pokemon__image fadeIn">
            <img [src]="pokemon.status.sprites.front_default" [alt]="pokemon.name">
        </section>
    </a>
</ng-template>