.search {
    padding: 2rem 2rem;

    form {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
    }
}