<div class="search">
    <form [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="your name" formControlName="nome">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="dateInicio">
              <input matEndDate placeholder="End date" formControlName="dateFim">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of lStatus" [value]="status.value">{{status.desc}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-stroked-button (click)="pesquisar()">Pesquisar</button>
    </form>
</div>
