/* You can add global styles to this file, and also import other style files */
@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss//animation.scss';

html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--primary-color);
}

main {
    width: remcalc(600);
    // max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    // border: 1px solid red;
    height: 100%;
    padding-bottom: 1rem;
}