/* You can add global styles to this file, and also import other style files */
@use './config-scss/reset.scss';
@use './config-scss/variables.scss';
@use './config-scss/rem-calc.scss';

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--primary-color);
}

main {
    max-width: remcalc(600);
    margin: 0 auto;
    box-sizing: border-box;
}