<div class="detail-card">
    <mat-card *ngIf="userSelected">
        <mat-card-header>
            Detalhes
        </mat-card-header>
        <mat-card-content>
            <form class="user__form">
                <div class="row">
                    <mat-form-field class="col-12">
                        <mat-label>Nome</mat-label>
                        <input type="text" matInput name="nome" [(ngModel)]="userSelected.name" required />
                        <mat-error><strong>Nome Obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Usuário</mat-label>
                        <input type="text" matInput name="usuario" [(ngModel)]="userSelected.username"
                            [ngModelOptions]="{ updateOn: 'blur' }" #usernameControl="ngModel"
                            [appCredentialsValidator]="'username'" required>
                        <mat-hint>O <strong>Usuário</strong> será utilizado para o Login</mat-hint>
                        <mat-error *ngIf="usernameControl.hasError('required')"><strong>Usuário
                                Obrigatório</strong></mat-error>
                        <mat-error
                            *ngIf="usernameControl.hasError('invalidUsername') && !usernameControl.hasError('required')">
                            Nome de <strong>Usuário</strong> já utilizado</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput name="email" [(ngModel)]="userSelected.email"
                            [ngModelOptions]="{ updateOn: 'blur' }" #emailControl="ngModel" appEmailValidator
                            [appCredentialsValidator]="'email'" required>
                        <mat-error *ngIf="emailControl.hasError('required')"><strong>Email
                                Obrigatório</strong></mat-error>
                        <mat-error *ngIf="emailControl.hasError('emailPattern')
                        && !emailControl.hasError('required')"><strong>Email Inváido</strong></mat-error>
                        <mat-error *ngIf="emailControl.hasError('invalidEmail')
                        && !emailControl.hasError('required')"><strong>Email</strong> já utilizado.</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Senha</mat-label>
                        <input matInput
                            [(ngModel)]="userSelected.password"
                            (ngModelChange)="changeSenha()"
                            name="senha"
                            type="password"
                            #passwordControl="ngModel"
                            AppPasswordStrength
                            required
                        />
                        <div style="position: relative; top: 6px;">
                            <mat-progress-bar 
                                [class.weak-password]="((userSelected.password | progressBar) === 0) || ((userSelected.password | progressBar) === 20)"
                                [class.medium-password]="(userSelected.password | progressBar) === 40" 
                                [class.medium-strong-password]="(userSelected.password | progressBar) === 65" 
                                [class.strong-password]="(userSelected.password | progressBar) === 100" 
                                mode="determinate" 
                                [value]="userSelected.password | progressBar">
                            </mat-progress-bar>
                        </div>

                        <mat-error *ngIf="passwordControl.hasError('required')">Senha deve ser Preenchida</mat-error>
                        <mat-error *ngIf="passwordControl.hasError('strengthNotProvide')
                        && !passwordControl.hasError('required')">Digite uma senha mais <strong>forte</strong></mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Confirme a Senha</mat-label>
                        <input 
                            matInput 
                            [(ngModel)]="samePassword" 
                            name="sameSenha" 
                            type="password" 
                            #passwordSameControl="ngModel"
                            [appCheckSamePassword]="userSelected.password"
                            required
                        />
                        <mat-error *ngIf="passwordSameControl.hasError('required')">Senha deve ser Preenchida</mat-error>
                        <mat-error *ngIf="!passwordSameControl.hasError('required') && passwordSameControl.hasError('passwordNotSame')">
                            Senhas divergem</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                        <mat-form-field class="col-6">
                            <mat-label>Data de Nascimento</mat-label>
                            <input matInput 
                            [matDatepicker]="picker"
                            name="dataNascimento"
                            [(ngModel)]="dataNascimento"
                            (ngModelChange)="dataNascimentoChanged($event)"
                            required
                            readonly
                            #dataNascimentoControl="ngModel"
                            >
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="dataNascimentoControl.hasError('required')"><Strong>Data</Strong> deve ser preenchida</mat-error>
                          </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>