.detail-card {

    outline-width: 1px;
    outline-offset: 1px;
    outline-color: rgba(0, 0, 0, 0.3);
    outline-style: solid;
    border-radius: 6px;
    
    & ::ng-deep  * {
        box-shadow: none;
    }
    
    & * .outline {
        outline-width: 1px;
        outline-offset: 1px;
        outline-color: rgba(0, 0, 0, 0.3);
        outline-style: solid;
        border-radius: 6px;

    }

    .weak-password {

        & ::ng-deep * {
            --mdc-linear-progress-active-indicator-color: red !important;
        }
    }

    .medium-password {
        & ::ng-deep * {
            --mdc-linear-progress-active-indicator-color: orange !important;
        }
    }
    
    .medium-strong-password {
        & ::ng-deep * {
            --mdc-linear-progress-active-indicator-color: rgb(204, 183, 0) !important;
        }
    }

    .strong-password {
        & ::ng-deep * {
            --mdc-linear-progress-active-indicator-color: rgb(138, 230, 0) !important;
        }
    }
}